{% extends 'root/main_root.html' %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'root/style.css' %}">
{% endblock %}
{% block title %}{{ tittle }}{% endblock %}

{% block tables %}

    <table class="table table-inverse">
        <thead>
        <tr>
            {% for i in tittles %}
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for string in strings %}
            <tr>
                <form class="">
                    {% for i in string %}
                        <td class="">
                            <input type="text" class="" id="inputPassword" size="{{ i|length }}" value="{{ i }}">
                        </td>
                    {% endfor %}
                    <td><button type="submit" class="btn btn-primary mb-2">Change</button></td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}