{% extends 'root/main_root.html' %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'root/style.css' %}">
{% endblock %}
{% block title %}{{ tittle }}{% endblock %}

{% block tables %}

    <table class="table table-inverse">
        <thead>
        <tr>
            {% for i in tittles %}
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for string in strings %}
            <tr>
                {% for i in string %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}