{% extends 'root/main_root.html' %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'root/style.css' %}">
{% endblock %}
{% block title %}{{ tittle }}{% endblock %}

{% block tables %}

    <table class="table table-inverse">
        <thead>
        <tr>
            {% for i in titles %}
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% if strings %}
        {% for string in strings %}
            <tr>
                <form action="{% url 'root:enter_table'%}" method="POST" class="dn" style="display: none">
                    {% csrf_token %}
                    {% for i, j in string %}
                        {% if j|length > 0 %}
                            <td>
                                <input type="text" name="{{ i }}" class="form-control-plaintext" value="{{ j }}">
                                <input type="hidden" name="{{ i }}_old"  id="exampleInputPassword1" value="{{ j }}">
                            </td>
                        {% else %}
                            <td style="width: 120px">
                                <input type="text" name="{{ i }}" class="form-control-plaintext" size="2" value="{{ j }}">
                                <input type="hidden" name="{{ i }}_old"  id="exampleInputPassword1" value="{{ j }}">
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <input type="hidden" name="table"  id="exampleInputPassword1" value="{{ table }}">
                        <input type="submit" class="btn btn-primary" name="_edit" value="Change">
                        <input type="submit" class="btn btn-danger" name="_del" value="Delete">
                    </td>
                </form>
            </tr>
        {% endfor %}
            <tr>
                <form action="{% url 'root:enter_table'%}" method="POST" class="dn" style="display: none">
                    {% csrf_token %}
                    {% for i, j in last %}
                        {% if j|length > 0 %}
                            <td>
                                <input type="text" name="{{ i }}"  class="form-control-plaintext" id="exampleInputPassword1">
                                <input type="hidden" name="{{ i }}_old"  id="exampleInputPassword1" value="{{ i }}">
                            </td>
                        {% else %}
                            <td>
                                <input type="text" name="{{ i }}"  class="form-control-plaintext" id="exampleInputPassword1" size="2">
                                <input type="hidden" name="{{ i }}_old"  id="exampleInputPassword1" value="{{ i }}">
                            </td>
                        {% endif %}

                    {% endfor %}
                    <td>
                        <input type="hidden" name="table"  id="exampleInputPassword1" value="{{ table }}">
                        <input type="submit" class="btn btn-primary" name="_edit" value="Add">
                    </td>
                </form>
            </tr>
        {% else %}
            <tr>
                <form action="{% url 'root:enter_table'%}" method="POST" class="dn" style="display: none">
                    {% csrf_token %}
                    {% for i in tittles %}
                            <td>
                                <input type="text" name="{{ i }}"  class="form-control-plaintext" id="exampleInputPassword1">
                                <input type="hidden" name="{{ i }}_old"  id="exampleInputPassword1" value="{{ i }}">
                            </td>
                    {% endfor %}
                    <td>
                        <input type="hidden" name="table"  id="exampleInputPassword1" value="{{ table }}">
                        <input type="submit" class="btn btn-primary" name="_edit" value="Add">
                    </td>
                </form>
            </tr>
        {% endif %}
            <tr>
                <form action="{% url 'root:enter_table'%}" method="POST" class="dn" style="display: none">
                    {% csrf_token %}
                    <td>
                        <input type="text" name="search" class="form-control-plaintext" id="exampleInputPassword1">
                    </td>
                    <td>
                        <input type="hidden" name="table"  id="exampleInputPassword1" value="{{ table }}">
                        <input type="submit" class="btn btn-primary" name="_search" value="Search">
                    </td>
                </form>
            </tr>
        </tbody>
    </table>


{% endblock %}

{% block scripts %}
    {% if scripts == 'incorrect input' %}
        <script>
            alert('{{ scripts }}');
        </script>
    {% endif %}
{% endblock %}